.DS_Store
Thumbs.db
build/
bin/
out/
dist/
*.egg-info

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.o
*.obj
*.lo
*.la
*.al
*.libs
*.a
*.lib
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out

*.gcda
*.gcno
*.gcov
*.prof
*.profraw

.vscode/
*.code-workspace

.idea/
cmake-build-*/

*.xcworkspace
*.xccheckout
*.xcodeproj
*.xcuserdata

.project
.cproject

*.log
*.temp
*.tmp
*.swp
*.swo
*.dir

.env
*.local

